.Layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header' 'body';
}

.Layout-Header {
    grid-area: header;
    height: 100px;
    top: 0;
    position: sticky;
    z-index: 100;
    background: white;
}

.Layout-Header-big {
    height: 42vh;
}

.Layout-Body {
    grid-area: body;
}

.Layout-Header-big + .Layout-Body {
    margin-top: 0px;
}
